$font_header: 'Josefin Sans' !global;
$font_main: 'Kurale' !global;
$font_footer: 'Inconsolata', monospace !global;

@import url('http://weloveiconfonts.com/api/?family=fontawesome');

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

.container{
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
}

/*Header*/
header{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
  position:fixed;
  top:0;
  left:0;
  min-width:100%;
  min-height:100%;
}

.menu_intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.menu_intro_main{
  display: flex;
  align-items: center;
  .item:first-of-type{
    a{
      border: 3px solid #252732;
      border-radius: 10px;
      width: 170px;
      color: #252732;
      margin-right: 20px;
      background-color: #ececef;
      &:hover {
        background-color: #252732;
        color: #fff;
        transition: 0.3s linear;
      }
    }
  }
}

.language{
  display: flex;
  align-items: center;
  margin-right: 50px;
  a{
    color: #fff;
    font-family: $font_header;
    font-size: 20px;
    margin-left: 40px;
    &:hover{
      color: #252732;
      transition: 0.3s linear;
    }
  }
  nav{
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    a{
      display: block;
      text-decoration: none;
      outline: none;
      transition: .4s ease-in-out;
    }
  }
}

.topmenu {
  backface-visibility: hidden;
}

.topmenu > li {
  display: inline-block;
  position: relative;
}

.topmenu > li > a {
  font-family: 'Exo 2', sans-serif;
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  font-weight: bold;
  color: #252732;
  text-transform: uppercase;
}

.down{
  background: url("../images/LanguageLearn.png");
  background-repeat: no-repeat;
  display: block;
  width: 64px;
  height: 64px;
}

.down:after {
  content: "\f107";
  margin-left: 35px;
  font-family: FontAwesome;
}

.down:hover{
  color: #ff5f60;
}

.submenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #ececef;
  border: 2px solid #252732;
  border-radius: 10px;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width: 200px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .3s ease-in-out;
  img{
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-left: 10px;
  }
  li button{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    background-color: #c1c9cb;
    border: none;
    border-radius: 10px;
    width: 180px;
    margin-left: 8px;
    cursor: pointer;
    &:hover{
      background: #ff5f60;
      color: #fff;
      transition: 0.3s linear;
    }
  }
  li:last-of-type{
    margin-bottom: 10px;
  }
}

.topmenu > li:hover .submenu{
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}

.submenu li p{
  color: #252732;
  font-size: 13px;
  font-family: $font_header;
}

.logo {
  img{
    width: 150px;
    height: 50px;
  }
}
/*/Header*/


/*login_to_account*/
#login {
  margin: 0 auto;
  width: 400px;
  height: 360px;
  background-color: gray;
  border-radius: 10px;
  h1{
    padding-top: 20px;
    font-size: 26px;
    font-family: $font_main;
    text-transform: uppercase;
    text-align: center;
    cursor: default;
  }
  input.custom-checkbox{
    margin-left: 20px;
  }
  label {
    font-family: $font_main;
    font-size: 20px;
  }
}

.error{
  display: block;
  color: red;
  margin-left: 50px;
  padding: 0;
  margin-bottom: 10px;
  cursor: default;
}

.remember{
  display: flex;
  justify-content: left;
  margin-left: 50px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

.recovery{
  margin-top: 10px;
  text-align: center;
  a{
    color: #fff;
    font-family: $font_main;
    margin-top: 10px;
    &:hover{
      color: #252732;
    }
  }
}

.login_name,.login_password,.btn_sub{
  display: flex;
  justify-content: center;
}

#login form span{
  background-color: #363b41;
  border-radius: 10px 0px 0px 10px;
  color: #606468;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input[type="email"]{
   background-color: #3b4148;
   border: none;
   border-radius: 0px 10px 10px 0px;
   font-family: $font_main;
   font-size: 14px;
   line-height: 1.5em;
   color: #606468;
   outline:none;
   padding: 0 16px;
   width: 250px;
   height: 50px;
  margin-bottom: 10px;
 }

#login form input[type="password"]{
  background-color: #3b4148;
  border: none;
  border-radius: 0px 10px 10px 0px;
  font-family: $font_main;
  font-size: 14px;
  line-height: 1.5em;
  color: #606468;
  outline:none;
  padding: 0 16px;
  width: 250px;
  height: 50px;
  margin-bottom: 10px;
}

#login form input:focus {
  border: 1px solid #fff;
  color:#fff;
}

form .btn_sub button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 3px solid #ff5f60;
  border-radius: 10px;
  height: 50px;
  width: 300px;
  color: #ff5f60;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: $font_main;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  &:hover {
    background-color: #ff5f60;
    color: #fff;
    transition: 0.3s linear;
  }
}

#login > span {
  padding-left: 5px;
}

.close_log{
  /* Position it in the top right corner outside of the modal */
  float: right;
  padding-right: 5px;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.close_log:hover,.close_log:focus {
  color: red;
  cursor: pointer;
}

/*login_to_account*/

.page_fix {
  top: 0 !important;
  position: static !important;
}

.skiptranslate {
  display: none !important;
}


